:root {
    --fuente: Arial;
    --color1: #2E4057;
    --color2: #4BC0D9;
    --color3: #FFEFBD;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}
.titulo_fase{
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

video {
    display: block;
    width: 100%;
}

label {
    font-size: 2rem;
}

input {
    padding: 1rem;
}

img {
    width: 90%;
}

table {
    font-size: 2rem;
}

.color_white {
    color: white;
}

.flex_centro {
    display: flex;
    justify-content: center;
}

.boton {
    border: .8rem solid;
    border-color: var(--color2);
    width: 18rem;
    height: 5rem;
    background-color: transparent;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    transition: 1s linear;
}

.boton:hover {
    border-color: var(--color1);
}

.ani_boton {
    position: relative;
}

.ani_boton::after,
.ani_boton::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: .8rem;
    background: white;
    transform: skew(-122deg);
    transition: .7s linear;
}

.ani_boton::after {
    bottom: 0rem;
    right: 5%;
}

.ani_boton::before {
    top: 0rem;
    left: 5%;
}

.ani_boton:hover::before {
    left: 80%;
}

.ani_boton:hover::after {
    right: 80%;
}

.hidden {
    display: none;
}

.alerta {
    background-color: rgb(240, 83, 83);
    text-align: center;
    font-size: 3rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}


/* Barra de navegacion */

.nav_bar {
    background-color: var(--color1);
    padding: 1.5rem 0;
}

.nav_bar_flex {
    text-align: center;
}

@media(min-width:650px) {
    .nav_bar_flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.nav_bar_texto {
    color: white;
}

.navegacion {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(1, 1fr);
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: opacity .1s linear, height .5s linear;
}

.mostrar {
    margin-top: 2rem;
    visibility: visible;
    opacity: 1;
    height: auto;
}

.enlace_nav {
    text-align: center;
    padding: .5rem 3rem;
    border-radius: 2rem;
    color: white;
    transition: color .5s ease, background-color .5s ease-in-out;
    margin-bottom: 1rem;
}

@media (min-width: 650px) {
    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.enlace_nav:hover {
    color: var(--color3);
    /*background-color: #2d6a77;
    */
    background-color: #446188;
}

@media (min-width: 650px) {
    .menu-mobile {
        display: none;
    }
}

.menu-mobile svg {
    width: 4rem;
}

.menu-mobile:hover {
    cursor: pointer;
}

.navegacion-responsive {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    text-align: left;
}

.navegacion-responsive a {
    padding-left: 2rem;
}

@media (min-width: 650px) {
    .navegacion-responsive {
        grid-template-columns: 1fr;
    }
}


/* Video */

.video {
    position: relative;
    max-height: 25rem;
    overflow: hidden;
}

.titulo_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.texto_video {
    color: white;
}

.contenido_video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


/* Fomulario función objetivo Restricciones*/

.metodo_fo_res {
    margin-top: 2rem;
}

.grid_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.flex_form {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.texto_form {
    margin-bottom: 2rem;
}

.texto_form_res {
    margin-bottom: 2rem;
}

.seccion {
    margin-top: 2rem;
}

@media (min-width: 560px) {
    .grid_form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .texto_form {
        text-align: right;
        align-self: center;
        margin: 0;
    }
}

.input_fo {
    display: flex;
    justify-content: left;
}

.input_fo input {
    padding: 0 1rem;
    max-height: 2.5rem;
    max-width: 8rem;
    margin-right: 1rem;
    font-size: 1.8rem;
}

.input_fo input:last-of-type {
    margin-left: 1rem;
}

.input_res {
    padding: 0 1rem;
    max-height: 2.5rem;
    max-width: 20rem;
    font-size: 1.8rem;
}

.t_metodo {
    background-color: white;
    padding: 0 1rem;
    border-radius: 1rem;
    max-height: 3rem;
    max-width: 20rem;
    font-size: 1.8rem;
}


/* Restricciones */

.contenedor_res {
    max-width: 80rem;
    width: 95%;
    margin: 2rem auto 0 auto;
}

.grid_form_res {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2rem;
}

.grid_form_res p {
    font-size: 1.5rem;
    align-self: center;
}

.grid_form_res input {
    max-width: 3rem;
    max-height: 2rem;
    font-size: 1.8rem;
}

@media (min-width: 305px) {
    .grid_form_res input {
        max-width: 6rem;
        max-height: 2rem;
        font-size: 1.8rem;
    }
}

@media (min-width: 426px) {
    .grid_form_res input {
        max-width: 10rem;
        max-height: 2rem;
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .grid_form_res input {
        max-width: 16rem;
        max-height: 2rem;
        font-size: 1.8rem;
    }
}

.signo_res {
    max-width: 20rem;
    max-height: 2.5rem;
    font-size: 2rem;
}

.flex_res {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.boton_flex_derecha {
    display: flex;
    justify-content: center;
}

@media (min-width: 450px) {
    .boton_flex_derecha {
        justify-content: flex-end;
    }
}


/* Grafica */

.funcion_o {
    margin-top: 2rem;
}

.funcion_o h3 {
    margin-bottom: .8rem;
}

.restricciones {
    margin-top: 2rem;
}

.restricciones h3 {
    margin-bottom: .8rem;
}

.tabla_datos {
    width: 100%;
    font-size: 1rem;
    border-spacing: 0;
    margin: 1rem 0 3rem 0;
    border-radius: 1rem;
}

td,
th {
    text-align: center;
    border: .1rem solid lightgrey;
    padding: 1rem 0;
}

@media (min-width: 330px) {
    .tabla_datos {
        width: 100%;
        font-size: 1.5rem;
        border-spacing: 0;
        margin: 1rem 0 3rem 0;
    }
}

@media (min-width: 570px) {
    .tabla_datos {
        font-size: 2rem;
    }
    th,
    td {
        padding: 1rem 1rem;
    }
}

.tabla_datos thead {
    background-color: var(--color1);
    color: white;
    text-transform: uppercase;
}

.color_rojo {
    background-color: rgba(253, 107, 107, 0.597);
}

.color_verde {
    background-color: rgba(108, 255, 108, 0.727);
}

.areasol {
    margin: 2rem 1rem 0 0;
    padding-left: 1rem;
}

.areasol::before {
    content: "....";
    width: 4rem;
    height: 2rem;
    background-color: rgb(65, 173, 173);
    color: rgb(65, 173, 173);
    margin-right: 1rem;
}

.boton-cambiar {
    margin-bottom: 3rem;
}

/*Integrantes*/

.int_texto {
    margin-top: 2rem;
}

.inte {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.fila {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.fila div p {
    font-size: 1.3rem;
}

.color_pivote{
    background-color: rgba(246, 246, 123, 0.808);
}

.nombre_tabla{
    background-color: var(--color1);
    color: white;
}

.color_resultado_z{
    background-color: rgba(96, 224, 218, 0.596);
}

.resultado_fase2{
    margin: 2rem 0;
}