{% extends "layout.html"%} {% block body%}
<div class="contenedor seccion">
    <h2 class="titulo_fase">FASE 1</h2>
    {% for i in range(arrayTablasFase1 | length):%}
    <div style="overflow-x:auto;">
        <table class="tabla_datos" >
            <thead>
    
            </thead>
            <tbody>
                <tr>
                    <td><b>Cj</b></td>
                    {% for k in range(arrayTablasFase1[i][4] | length):%}
                    <td>{{arrayTablasFase1[i][4][k]}}</td>
                    {% endfor %}
                    <td colspan="2" class="nombre_tabla">TABLA{{i+1}}</td>
                </tr>
                <tr>
                    <td><b>Cx</b></td>
                    {% for k in range(arrayTablasFase1[i][0] | length):%}
                    <td><b>{{arrayTablasFase1[i][0][k]}}</b></td>
                    {% endfor %}
                    <td><b>Xb</b></td>
                    <td><b>bi</b></td>
                </tr>
                {% for k in range(arrayTablasFase1[i][5] | length): %}
                <tr>
                    {% if(arrayPivoteFase1[i][0]==k): %}
                        <td class="color_pivote">{{arrayTablasFase1[i][5][k]}}</td>
                        {% for z in range(arrayTablasFase1[i][1][k] | length):%}
                        {% if(arrayPivoteFase1[i][1]==z or arrayPivoteFase1[i][0]==k): %}
                        <td class="color_pivote">{{arrayTablasFase1[i][1][k][z]}}</td>
                        {% else: %}
                        <td>{{arrayTablasFase1[i][1][k][z]}}</td>
                        {% endif %}
                        {% endfor %}
                        <td class="color_pivote">{{arrayTablasFase1[i][2][k]}}</td>
                        <td class="color_pivote">{{arrayTablasFase1[i][3][k]}}</td>
                    {% else: %}
                        <td>{{arrayTablasFase1[i][5][k]}}</td>
                        {% for z in range(arrayTablasFase1[i][1][k] | length):%}
                        {% if(arrayPivoteFase1[i][1]==z or arrayPivoteFase1[i][0]==k): %}
                        <td class="color_pivote">{{arrayTablasFase1[i][1][k][z]}}</td>
                        {% else: %}
                        <td>{{arrayTablasFase1[i][1][k][z]}}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{arrayTablasFase1[i][2][k]}}</td>
                        <td>{{arrayTablasFase1[i][3][k]}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td><b>Zj-CJ</b></td>
                    {% for z in range(arrayTablasFase1[i][6] | length):%}
                    <td>{{arrayTablasFase1[i][6][z]}}</td>
                    {% endfor %}
                    <td colspan="2" class="color_resultado_z"><b>Z = </b>{{arrayTablasFase1[i][7]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}

    <h2 class="titulo_fase">FASE 2</h2>
    {% for i in range(arrayTablasFase2 | length):%}
    <table class="tabla_datos">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td><b>Cj</b></td>
                {% for k in range(arrayTablasFase2[i][4] | length):%}
                <td>{{arrayTablasFase2[i][4][k]}}</td>
                {% endfor %}
                <td colspan="2" class="nombre_tabla">TABLA{{i+1}}</td>
            </tr>
            <tr>
                <td><b>Cx</b></td>
                {% for k in range(arrayTablasFase2[i][0] | length):%}
                <td><b>{{arrayTablasFase2[i][0][k]}}</b></td>
                {% endfor %}
                <td><b>Xb</b></td>
                <td><b>bi</b></td>
            </tr>
            {% for k in range(arrayTablasFase2[i][5] | length):%}
            <tr>
                {% if(arrayPivoteFase2[i][0]==k): %}
                <td class="color_pivote">{{arrayTablasFase2[i][5][k]}}</td>
                {% for z in range(arrayTablasFase2[i][1][k] | length):%}
                {% if(arrayPivoteFase2[i][1]==z or arrayPivoteFase2[i][0]==k): %}
                <td class="color_pivote">{{arrayTablasFase2[i][1][k][z]}}</td>
                {% else: %}
                <td>{{arrayTablasFase2[i][1][k][z]}}</td>
                {% endif %}
                {% endfor %}
                <td class="color_pivote">{{arrayTablasFase2[i][2][k]}}</td>
                <td class="color_pivote">{{arrayTablasFase2[i][3][k]}}</td>
            {% else: %}
                <td>{{arrayTablasFase2[i][5][k]}}</td>
                {% for z in range(arrayTablasFase2[i][1][k] | length):%}
                {% if(arrayPivoteFase2[i][1]==z or arrayPivoteFase2[i][0]==k): %}
                <td class="color_pivote">{{arrayTablasFase2[i][1][k][z]}}</td>
                {% else: %}
                <td>{{arrayTablasFase2[i][1][k][z]}}</td>
                {% endif %}
                {% endfor %}
                <td>{{arrayTablasFase2[i][2][k]}}</td>
                <td>{{arrayTablasFase2[i][3][k]}}</td>
            {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td><b>Zj-CJ</b></td>
                {% for z in range(arrayTablasFase2[i][6] | length):%}
                <td>{{arrayTablasFase2[i][6][z]}}</td>
                {% endfor %}
                <td colspan="2" class="color_resultado_z"><b>Z = </b>{{arrayTablasFase2[i][7]}}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}

</div>
{% endblock%}